{% load form_tags %}
{%load static%}
<!DOCTYPE html>
<html>
<head>
  <title>TaskFlow AJAX</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<a href="{%url 'home'%}" class="btn btn-info"> Version Clasique</a>
<div class="container mt-5">
<div class="container mt-5">

  <h1 class="text-center mb-4">TaskFlow Dashboard</h1>

  <!-- Add Task -->
  <div class="card mb-4">
    <div class="card-header">
      Add New Task
    </div>

    <div class="card-body">
      <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
          <label>Title</label>
          {{ form.title|add_class:"form-control" }}
        </div>

        <div class="mb-3">
          <label>Description</label>
          {{ form.description|add_class:"form-control" }}
        </div>

        <button class="btn btn-primary">Add Task</button>
      </form>
    </div>
  </div>

  <!-- Task List -->
  <div class="card">
    <div class="card-header">
      My Tasks
    </div>

    <ul class="list-group list-group-flush">

      {% for task in tasks %}

      <li class="list-group-item d-flex justify-content-between align-items-center">
        <input type="checkbox" class= "toggle-task" data-id="{{task.id}}" {%if task.completed%}checked{%endif%}>
        {{task.title}}
        <div>
                <strong><a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a></strong>

          {% if task.completed %}
            <span class="badge bg-success ms-2">Done</span>
          {% else %}
            <span class="badge bg-warning text-dark ms-2">Pending</span>
          {% endif %}
        </div>

        <div>
          <a href="{% url 'update_task' task.pk %}" class="btn btn-sm btn-primary">Edit</a>
          <a href="{% url 'delete_task' task.pk %}" class="btn btn-sm btn-danger">Delete</a>
        </div>

      </li>



      {% endfor %}

    </ul>

  </div>

</div>
<script src="{%static 'tasks/js/taskflow.js' %}"></script>
</body>
</html>